#error {
  display: none;
  font-size: 16pt;
}

#error p{
  color: red;
  text-align: center;
}

#rightCol {
  height: 100%;
}

.col2 {
   height: 100%;
 }

.logo-bottom{
  max-width: 60%;
  /*max-height: 75vh;*/
  float: right;
  z-index: -1;
}
