<div id="header">
  <div>
    <img src="../../../../../assets/images/Illuminates-1000x350-Unity-UWP-Logo.png" class="logo"/>
  </div>
  <div class="status">
    <div class="icon">
      <img src="../../../../../assets/images/home/circle-counter.png" class="circle" id="catIcon"/>
      <div class="circle-text" id="noOfCats">{{this.noOfTargets | prefixPadNoToString: '&nbsp;'}}</div>
      <div class="icon-text"> ... categories in your portfolio</div>
    </div>
    <div class="icon">
      <img src="../../../../../assets/images/home/circle-counter.png" class="circle" id="itemIcon"/>
      <div class="circle-text" id="noOfItems">{{this.noOfItems | prefixPadNoToString: '&nbsp;'}}</div>
      <div class="icon-text"> ... items in all your categories</div>
    </div>
  </div>
  <div id="desktop" class="top-right">
    <div class="desk-icons">
      <img src="../../../../../assets/images/home/empty_trash.png" class="circle" id="recycleIcon"/>
    </div>
    <div class="desk-icons">
      <img src="../../../../../assets/images/home/temp-icon.png" class="circle" id="tempIcon"/>
    </div>
  </div>
</div>
