#drop-area{
  margin-bottom:150px;
}
.drop{
  border: 2px dashed #ccc;
  border-radius: 20px;
  font-family: sans-serif;
  margin: 10px auto 10px auto;
  padding: 20px;
  width: 75%;
  display: inline-block;
}

.main {
  color:#c0c0c0;
  font-size: 12pt !important;
}

.drop strong {
  color: #dc8f09
}

.drop p {
  font-size: 11pt;
}

.left {
  text-align: left;
}
