<div id="drop-area">
  <div  class="drop">
    <p class="main"><b>OnePlace is an intuitive`point and click` application that saves and retrieves your files and documents instantly,
      whilst saving you valuable time in both activities.</b></p>
  </div>
  <div   class="drop">
    <p>If you'd like to know more, and have a look inside, <strong>Contact-Us</strong> and we can share our <strong>'Guest Account'</strong> with you.</p>
    <p class="left"><strong>Guest Account(s)</strong> are limited, so you may have to wait for <em><u>one session to end</u></em> prior to being able to Sign-In.</p>
    <p class="left">Each and every Sign-in we refresh the guest account, so the Sign-In may take longer than usual as we prepare the account.</p>
  </div>
</div>
