#catTagContainer {
  margin: auto;
  max-width: 280px;
}

.drop{
  border: 2px dashed #ccc;
  border-radius: 20px;
  font-family: sans-serif;
  margin: 10px auto 10px auto;
  padding: 20px;
  width: 75%;
  display: inline-block;
}

#msg{
  padding-top: 3px;
}

/*Download Web user guide */
.user-guide{
  width: 40%;
  float: left;
  margin-top: 38px;
}

.user-guide:hover{
  cursor:  pointer;
}

.logo-bottom{
  max-width: 60%;
  float: right;
  z-index: -1;
}

