.files-action{
  margin-bottom: 0;
  font-weight: bold;
  color: black;
  text-shadow: 0 2px 6px white;
}
.drop{
  border: 2px dashed #ccc;
  border-radius: 20px;
  font-family: sans-serif;
  margin: 10px auto 10px auto;
  padding: 20px;
  width: 75%;
  display: inline-block;
}

#button-set{
  contain: layout;
  /*border: 1px solid red; */
  display:flex;
  justify-content:space-between;
  position: relative;
}

.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.button:hover {
  background: #ddd;
}

.button-cont{
  float:left;
  margin: 8px;
  /*font-size: min(1vw,12pt);*/
  font-size: 1vw;
  /*width: 20%;*/
}

.button-align{
  margin:0 auto;
}

.btn-h {
  vertical-align: middle;
}

#fileActionOpen{
  display: none;
}

#fileActionFlipY{
  display: none;
}

#fileActionFlipX{
  display: none;
}

#fileActionShare{
  opacity: 0;
  width: 0;
  height: 0;
}

#fileActionDownload{
  display: none;
}

.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
  white-space: pre-wrap;
  word-wrap:break-word;
}

#fileActionDelete{
  display:none;
}

