#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
  overflow: auto;
}

.oCol1{
  background: #000;
  /*border:2px solid black;*/
  border: none;
  overflow-y: visible;
  width:46% !important;
}

// Instead of the header over lay use this when scroll bars appear
.head-space {
  height: 185px;
  display: none
}

